/* <-- CSS Reset --> */
* {
  margin: 0;
  padding: 0;
}

/* <-- Global Settings --> */
:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navyblue: #2e2f42;
  --slate: #434455;
  --white: #ffffff;
  --cloud: #f4f4fd;
  --cornflower: #e7e9fc;
  --lightslate: #8e8f99;
  --green: #31d0aa;
  --dairy: #fcfcfc;
}

html {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--slate);
  background-color: var(--white);
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.header-nav,
.address-nav {
  display: flex;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

/* <-- Header | Site Logo --> */
.logo {
  color: var(--iris);
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding: 24px 0;
  margin-right: 76px;
}

.studio-logo {
  color: var(--navyblue);
}

.header {
  border-bottom: 1px solid var(--cornflower);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

/* <-- Header | Navigation | Mobile View --> */

.container {
  min-width: 320px;
  margin: 0 auto;
  padding: 0 15px;
}

.header .header-container {
  min-height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-menu,
.address-menu {
  display: none;
}

.menu-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px 35px 40px;
  background-color: var(--white);
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  background-color: var(--white);
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-container .menu-toggle:hover,
.menu-container .menu-toggle:focus {
  background-color: var(--ocean);
  border: none;
  fill: var(--white);
}

.menu-close-svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hamburger-menu-list,
.hamburger-address-list {
  list-style: none;
}

.hamburger-menu-list {
  margin-top: 32px;
}

.hamburger-menu-item,
.hamburger-address-item {
  margin-bottom: 40px;
}

.hamburger-menu-item .hamburger-menu-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: var(--navyblue);
}

.hamburger-menu-item .menu-active.hamburger-menu-link,
.hamburger-address-item .menu-active.hamburger-menu-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: var(--ocean);
}

.hamburger-address-list .hamburger-email-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: var(--slate);
  text-decoration: none;
}

.hamburger-menu-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  color: inherit;

  font-family: inherit;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  gap: 30px;
  height: auto 40px;
}

.hidden-menu-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.hidden-menu-main {
  width: 100%;
}

.hidden-menu-address {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 20vh;
  background-color: #31d0aa;
}

.hamburger-social-menu {
  display: flex;
  gap: 56px;
  margin-bottom: 24px;
}

.hamburger-social-item {
  width: 40px;
  height: 40px;
}

.hamburger-social-link {
  background-color: var(--iris);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--cloud);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hamburger-social-link:hover,
.hamburger-social-link:focus {
  background-color: var(--green);
}

.hamburger-social-svg {
  fill: var(--cloud);
}

/* <-- Section 1 | Hero --> */

.hero-section {
  background-color: var(--navyblue);
  padding: 112px 0;
  background-image: url(/images/people-office.jpg),
    linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7));
  background-repeat: no-repeat, no-repeat;
  background-position: center, center;
  background-size: cover, cover;
  width: 100%;
  height: 432px;
}

.hero-text {
  font-size: 36px;
  text-transform: capitalize;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white);
  max-width: 320px;
  margin: 0 auto 48px;
  font-weight: 700;
}

.hero-button {
  background-color: var(--iris);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--ocean);
}

/* <-- Section 2 | Features --> */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.feature-section {
  padding: 96px 0;
}

.feature-info-list.list {
  display: flex;
  gap: 72px;
  flex-wrap: wrap;
}

.feature-icon-container {
  display: none;
}

.feature-info-list .header-title {
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  margin-bottom: 8px;
  font-weight: 700;
  text-align: center;
}

.feature-info-list .body-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
  text-align: left;
  font-weight: 400;
}

/* <-- Section 3 | Services --> */

.what-we-do-section {
  display: none;
}

.section-header-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue);
  margin-bottom: 72px;
}

/* <-- Section 4 | Team Profile | Social Media --> */

.team-section {
  background-color: var(--cloud);
  padding: 96px 0;
}

.team-list.list {
  display: flex;
  gap: 72px;
  flex-wrap: wrap;
  justify-content: center;
}

.team-member-profile {
  background-color: var(--white);
  flex-basis: calc((100% - 72px) / 4);
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-member {
  padding: 32px 0;
}

.feature-title {
  padding: 32px 0;
}

.body-text {
  text-align: center;
}

.social-media-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-top: 8px;
}

.socmed-icon-list {
  width: 40px;
  height: 40px;
}

.socmed-icon-link {
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socmed-icon-link:hover,
.socmed-icon-link:focus {
  background-color: var(--ocean);
}

.socmed-icon {
  fill: var(--cloud);
}

/* <-- Section 5 | Customers --> */

.customer-gallery-section {
  padding: 96px 0;
}

.customer-list {
  display: flex;
  gap: 72px 16px;
  flex-wrap: wrap;
  justify-content: center;
}

.customer-gallery-list {
  width: calc((100% - 16px) / 2);
  height: 88px;
}

.customer-icon-link {
  width: 100%;
  height: 100%;
  border: 1px solid var(--lightslate);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--lightslate);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-icon-svg {
  fill: currentColor;
}

.customer-icon-svg-link:hover,
.customer-icon-svg-link:focus {
  border-color: var(--ocean);
  color: var(--ocean);
}

/* <-- Footer | Social Media | Subscribe Form --> */

.footer-section {
  background-color: var(--navyblue);
  padding: 97.5px 0;
}

.footer-studio-logo {
  color: var(--cloud);
}

.footer-text {
  line-height: 1.5;
  color: var(--cloud);
  letter-spacing: 0.02em;
  width: 268px;
  height: 72px;
}

.footer-section .link {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 72px;
}

.footer-socmed-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.wrapper:last-child {
  margin-bottom: 0px;
}

.footer-wrapper .logo {
  display: flex;
  margin-bottom: 18px;
  justify-content: center;
  width: 100%;
}

.footer-menu-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white);
  margin-bottom: 16px;
  justify-content: center;
  display: flex;
}

.footer-socmed-menu {
  display: flex;
  gap: 16px;
}

.footer-socmed-icon {
  width: 40px;
  height: 40px;
}

.footer-socmed-link {
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-socmed-link:hover,
.footer-socmed-link:focus {
  background-color: var(--green);
}

.footer-socmed-svg {
  fill: var(--cloud);
}

.subscribe-form-title {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white);
  display: flex;
  width: 100%;
  justify-content: center;
}

.subscribe-form {
  gap: 16px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.input-subscribe-form {
  width: 100%;
  height: 40px;
  border: 1px solid var(--white);
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--white);
}

.input-subscribe-form::placeholder {
  color: var(--white);
}

.subscribe-submit {
  justify-content: center;
  display: flex;
}

.subscribe-submit-button {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  background-color: var(--iris);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
}

.subscribe-submit-svg {
  margin-bottom: 16px;
}

/* <-- Hero | Modal Window -->  */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--navy-blue-modal);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-hidden {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  width: 100%;
  max-width: 408px;
  min-height: 584px;
  background: var(--dairy);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-hidden {
  padding: 72px 24px 24px;
}

.modal-close-button {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--cornflower);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:hover,
.modal-close-button:focus {
  background-color: var(--ocean);
  border: none;
}

.modal-close-svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:hover,
.modal-close-button:focus {
  fill: var(--white);
}

.modal-form-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  margin-bottom: 16px;
}

.modal-window-container {
  margin-bottom: 8px;
}

.modal-window-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate);
  display: block;
  margin-bottom: 4px;
}

.modal-input-box {
  position: relative;
}

.input-info-box {
  width: 100%;
  height: 40px;
  border: 1px solid var(--navy-blue-modal);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-info-box:focus {
  border-color: var(--iris);
}

.input-info-box:focus + .input-info-svg {
  fill: var(--iris);
}

.input-info-svg {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea {
  margin-bottom: 16px;
}

.textarea-comment-box {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--navy-blue-modal);
  border: 1px solid var(--navy-blue-modal);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea-comment-box {
  border-color: var(--iris);
}

.modal-checkbox {
  margin-bottom: 24px;
}

.user-checkbox-label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate);
}

.user-privacy-box {
  width: 16px;
  height: 16px;
  border: 1px solid var(--navy-blue-modal);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 8px;
}

.checkbox-user-privacy:checked + .user-checkbox-label .user-privacy-box {
  background-color: var(--ocean);
  border: none;
  fill: var(--cloud);
}

.privacy-link {
  color: var(--iris);
}

.modal-form-send {
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  cursor: pointer;
  background-color: var(--iris);
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  margin: 0 auto;
}

.modal-form-send:hover,
.modal-form-send:hover {
  background-color: var(--ocean);
  border: none;
}

/* <-- Portfolio --> */

.product-services {
  padding: 96px 0 120px 0;
}

.button-menu {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--iris);
  background-color: var(--cloud);
  cursor: pointer;
  padding: 12px 24px;
  border: 1px solid var(--cornflower);
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn.list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.button-menu:hover,
.button-menu:focus {
  color: var(--white);
  background-color: var(--ocean);
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

img {
  display: block;
}

.product.list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.product-item {
  flex-basis: calc((100% - 48px) / 3);
}

.product-card {
  padding: 32px 16px;
  border: 1px solid var(--cornflower);
  border-top: none;
}

.product-info.link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.product-info:hover,
.product-info:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.product-card-image {
  position: relative;
  overflow: hidden;
}

.product-description {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud);
  padding: 40px 32px;
  background-color: var(--iris);
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.product-info.link:hover .product-description,
.product-info.link:focus .product-description {
  transform: translateY(0%);
}
